name: learn-github-actions
on: [push]
jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: display
      - uses: actions/checkout@v2
      - run: echo "hello, world!"
